<div>
<p>Task title:<span><%= @task.title %></span></p>
<p>Task details: <span><%= @task.details %></span></p>
<p>Is it complete? <span><%= @task.completed %></span></p>
</div>
<div>
<%= link_to "Delete",
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
<%= link_to "Edit this task", edit_task_path %>
</div>
<div>
<%= link_to "Back", tasks_path %>
</div>
