<div>
<p>Task title: <%= @task.title %></p>
<p>Task details: <%= @task.details %></p>
<p>Is it complete? <%= @task.completed %></p>
</div>
<div>
<%= link_to "Delete",
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
<%= link_to "Edit this task", edit_task_path %>
</div>
<div>
<%= link_to "Back", tasks_path %>
</div>
